<ion-content class="content">
  <ion-label>
    <img src="/assets/icon/COMFY_LOGO_blanc.png" alt="" class="logo"/>
  </ion-label>
    <!-- <ion-card class="welcome-card"> -->
      <!-- <ion-card-header> -->
        <div>
          <ion-button (click)="addPageAsso()" class="association" size="large" color="light" mode="ios" >ASSOCIATIONS</ion-button>
        </div>
        <div>
          <ion-button (click)="addPageCataEtud()" class="etudiant" size="large" color="light" mode="ios">ETUDIANTS</ion-button>
        </div>
      <!-- </ion-card-header> -->
    <!-- </ion-card> -->
</ion-content>
